<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Músicas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Músicas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let song of songs" [routerLink]="['/song', song.id]">
      <ion-avatar slot="start">
        <img src={{song.image}} />
      </ion-avatar>
      <ion-label>
        {{song.name}}<br/>
        <ion-note>{{song.artist}}</ion-note>
      </ion-label>
      <ion-text color="medium">{{song.length}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
